/* everything */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

/* header */
/* empty */

/* main */
.background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/airplane.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -190%);
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 160%;
  color: white;
}
.text:hover {
  background-color: rgba(0, 0, 0, 1);
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 8%;
  min-height: 40px;
  left: 0;
  bottom: 0;
}

.player {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 3px solid red;
  visibility: hidden;
}
.wrapper:hover > .player {
  visibility: visible;
}

.button {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 22px;
  color: white;
}
.button > i {
  margin-right: 15px;
}
.button > i:hover {
  color: red;
  cursor: pointer;
}

/* footer */
/* empty */
